<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
    <!--Main content-->
    </head>
        <body>
            <header>
                <div class="logo-container">
                 <img src="/Assets/images/logo.png" alt="Team Logo" class="team-logo"> 
                </div>
                <h1>Welcome to Our Tournament Website</h1>
                <p>Create and manage your tournaments with ease.</p>
            </header>
    
            <main>
                <a href="/create" class="create-tournament-button">Tournament</a>
            </main>
        </body>
    </html>
<%- include Partials/footer.ejs%>