<!--footer-->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="navbar-text">&copy; Copyright 2024. Tharshan Manimohan, Bennett Elmhurst, Atif Khan</h6>
    </nav>
    </footer>
</body>
</html>