<!--footer-->
<footer>
    <nav class="navbar fixed-bottom navbar-light" style="background-color: #505050;">
      <h6 class="navbar-text">&copy; Copyright 2024. Tharshan Manimohan, Bennett Elmhurst, Atif Khan</h6>
    </nav>
    </footer>
</body>
</html>