<!--footer-->
<footer>
  <nav class="navbar fixed-bottom navbar-light" style="background-color: #505050; text-align: center; display: flex; justify-content: center; align-items: center; height: 60px;">
      <h6 class="navbar-text" style="color: rgb(148, 148, 148); margin: 0;">
          &copy; Copyright 2024. Tharshan Manimohan, Bennett Elmhurst, Atif Khan
      </h6>
  </nav>
</footer>
