.nav-image {
    width: 30px; 
    height: 30px; 
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f4f6;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    text-align: center; /* center text  */
}

.container {
    width: 90%;
    max-width: 800px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

a {
    color: #1d4ed8; 
    text-decoration: none; 
    font-weight: bold; 
    margin-top: 20px; 
    display: inline-block; 
}

a:hover {
    color: #2563eb; 
    text-decoration: underline; 
}
